<div>
    <script type="text/ng-template" id="messagesTree">
        <div class="message">
            <div class="message-info">
                <a ng-href="{{message.user.account_path}}" target="_blank">
                    <img ng-src="{{message.user.avatar_path}}" alt="{{message.user.username}}">
                </a>
                <span class="message-time" ng-bind="(message.created | date :'d MMMM yyyy \'at\' HH:mm')"></span>
                <a ng-href="{{message.user.account_path}}" target="_blank" class="message-username" ng-bind="message.user.username"></a>
                <a ng-if="user" class="message-reply" ng-click="setStateMessage(message, sendStates.REPLY)">Reply</a>

                <i ng-if="user.user_id == message.user.user_id" class="close" ng-click="removeMessage(message)">&times;</i>
            </div>
            <div class="message-text">
                <i ng-if="user.user_id == message.user.user_id" class="pull-left close glyphicon glyphicon-pencil" ng-click="setStateMessage(message, sendStates.EDIT)"></i>
                <span ng-bind="message.text"></span>
            </div>
        </div>
        <ul ng-if="message.answers" >
            <li ng-repeat="message in message.answers.messages track by $index" ng-include="'messagesTree'"></li>
        </ul>
    </script>
    <div class="container" style="background: lightblue; padding: 30px;">
        <div class="row">
            <auth></auth>
        </div>
        <p ng-if="!user" class="text-center gray-text">*Для добавления и комментирования сообщений выполните вход</p>
        <div ng-if="user" class="row header">
            <div class="col-md-1 main-user-block">
                <div class="avatar border-inside" ng-style="{'background-image': 'url('+user.avatar_path+')'}"></div>
                <span ng-bind="user.username"></span>
            </div>
            <div class="col-md-11 input-area">
                <textarea id="main-input"
                          ng-model="$parent.inputText"
                          maxlength="1000"
                          class="form-control"
                          placeholder="Write your message..."
                          style="resize: none;"></textarea>
                <i ng-if="sendState !== sendStates.SEND" ng-click="resetSendState()" class="reset-state close glyphicon glyphicon-arrow-left" ></i>
                <button class="btn btn-success" ng-click="send(inputText)"
                        ng-bind="sendState!=sendStates.EDIT ? 'Send' : 'Edit'"></button>
            </div>
        </div>
        <div class="row answers-list border-inside">
            <ul class="list">
                <li ng-if="answers" ng-repeat="message in answers.messages track by $index" ng-include="'messagesTree'"></li>
            </ul>
        </div>
    </div>
</div>