<div>
    <div class="container" style="background: lightblue; padding: 30px;">
        <div class="row header" style="height: 230px;">
            <div class="col-md-9">
                <textarea maxlength="2048"
                          contenteditable="false"
                          class="form-control"
                          required
                          placeholder="Write your message..."
                          rows="3"
                          style="resize: none;"></textarea>
            </div>
            <div class="col-md-3">
                <button class="btn btn-default btn-lg">Submit</button>
            </div>
        </div>
        <div class="row" style="background: white; border: 3px solid darkblue; border-radius: 3px; padding: 15px;">
            <ul class="list-unstyled">
                <li ng-repeat="comment in comments">
                    (<strong ng-bind="comment.username"></strong>) : <span ng-bind="comment.message"></span>
                </li>
            </ul>
        </div>
    </div>
</div>