<div ng-if="!user" ng-class="{'vertical-center' : centered}" >
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-left: -15px; margin-bottom: 10px;">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-primary" ng-click="authOnFacebook()">Facebook</button>
                    </div>
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-danger" ng-click="authOnGoogle()">Google+</button>
                    </div>
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-info" ng-click="authOnVkontakte()">Vk.com</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="user" ng-class="{'vertical-center' : centered}">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-left: -15px; margin-bottom: 10px;">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-primary" ng-click="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>